{% extends 'page/base.html' %}
{%block title%}
	<title>Editar Track</title>
{%endblock%}
{% block content%}
<style type="text/css">
	.divmodf{
		margin-top:  50px;
		padding-bottom: 540px;
	}
	input, select, button{
		color: black;

	}
	#id_track_file{
		color: white;
	}

	a {
		color: #ccc;
	}
	.divbodyeditalbum{
		padding: 30px;
		border-radius: 10px;
		background-color: #222;
	}
</style>
<h1>Editar Track</h1>
<div style="text-align: left;" class="divmodf">
	<div class="col-md-2"></div>
	<div class="col-md-6 divbodyeditalbum">
	<form method="POST" enctype="multipart/form-data">
		{%csrf_token%}
		{{form.as_p}}
		<button type="submit" class="btn">Guardar</button>
	</form>
	</div>
	
</div>


{%endblock%}