{% extends 'page/base.html' %}
{%block title%}
	<title>Song-{{track.name}}</title>
{%endblock%}
{% block content%}
	<style type="text/css">
		
		.fittrack{

			text-align: center;
			height: auto;
			width: auto;
			padding-bottom: 7px;
			background-color: #222;
		}
		.col-md-5{
			display: inline-block;
			background-color: transparent;
			
			margin-top: 50px;
			margin-bottom: 10px;
			border-radius: 15px;
		}
		.panel-body{
		background-color: #111;
	}
	.panel-default{
		border-color: #333;
	}
	.panel-body a{
		color: #666;
	}
	.panel-default .panel-heading{
		background-color: #333;
		border: 0px;
		color: white;
		font-size: 20px;
	}
	</style>
	<section>
	<div class="col-md-1"></div>
	<div class="col-md-5">
	<div class="panel panel-default">
			<div class="panel-heading"> {{track.artist}}</div>
	 		<div class="panel-body">
			  	<div style="width: auto; display: inline-block;">
			<img src="{{track.album.cover.url}}" class="img-responsive" width="auto" height="auto" align="midle">

			</div>
			<div class="fittrack">
			<br>
				<p style="font-weight: bold;">
					{{track.order}}.  {{track.name}}
				</p>
				
				<p>
					{{track.album}}
				</p>
				
			</div>
				
				<!--<p>
					Biografia: {{track.artist.biography}}
				</p>-->
				<audio preload controls autoplay style="width: 100%;">
					<source src="{{track.track_file.url}}" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
 			</div>
		</div>
		<!--<div class="bodytrack">-->
			
		</div>
	</div>
		
		
	</section>
{%endblock%}