{% extends 'page/base.html' %}
{% load crispy_forms_tags %}
{%block title%}
	<title>Registrar usuario</title>
{%endblock%}


{% block content%}
	<style type="text/css">
		.divreg{
			width: 100%;
			
			text-align: left;
		}
		
		
		.divbodyeditalbum{
		padding: 0px;
		margin-top: 15px;
		border-radius: 10px;
		background-color: transparent;
	}
	.panel-body{
		background-color: #111;
	}
	.panel-default{
		border-color: #333;
	}
	.panel-body a{
		color: #666;
	}
	.panel-default .panel-heading{
		background-color: #333;
		border: 0px;
		color: white;
		font-size: 20px;
	}
	#id_first_name, #id_last_name, #id_username, #id_password1, #id_password2{
		width: 60%;
	}

	</style>
	<section>
	<div class="divreg">
		<div class="col-md-1"></div>
		<div class="col-md-5 divbodyeditalbum">
		<div class="panel panel-default">
			<div class="panel-heading">Crear Usuario</div>
	 		<div class="panel-body">
			  	<form method="POST" enctype="multipart/form-data">
					{%csrf_token%}
					{{form|crispy}}
					<button type="submit" class="btn btn-default">Registrar</button>
				</form>
 			</div>
		</div>
		</div>
	</div>
		
	</section>
{%endblock%}
{%block scrip%}
<script type="text/javascript">
	 $(function () {
            // When the page has finished loading,
            // autofocus on the username field
            $('input#id_first_name').focus();
        });
</script>
{%endblock%}
